server:
  port: 7002

spring:
  datasource:
    url: jdbc:mysql://39.96.9.168:3306/test?autoReconnect=true&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convert_to_null&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: Abc123!_
    driver-class-name: com.mysql.cj.jdbc.Driver

# JPA 相关配置信息
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: Order-Data

# mybatis 相关配置信息
mybatis:
  type-aliases-package: com.xiao5.ordercenter.common.entity
  mapper-locations: classpath:mapper/*.xml

eureka:
  client:
    service-url:
      defaultZone: http://localhost:7005/eureka/
